h1{
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
input{
    width: 140px;
}
body{
    margin: 0;
}
#grid ol{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
p{
    text-decoration: none;
}
#super_a{
    color: blue;
}
#article{
    padding-left: 25px;
}
@media(max-width: 800px){
    #grid{
        display: block;
        text-align: center;
    }
    #grid ol{
        border-right: none;
        text-align: center;
    }
    h1{
        border-bottom: none;
    }
}